$background-color:      #ffffff;
$background-alt-color:  #f4f5f6;
$text-dark-color:       #202224;
$text-medium-color:     #6C7A89;
$text-light-color:      #AEB3BB;
$accent-color:          #4C60E6;
$border-color:          #ECEDEF;
$error-color:           #D64541;

$color-white:           #fff;
$color-brand-primary:   blue;
$color-brand-secondary: green;
$color-grey-light:      $text-light-color;
$color-page-text:       $text-dark-color;