---
layout: default
title: PHP Tutorial Videos
description: The best PHP tutorial videos from world-renowned speakers
featured_image: /images/social.jpg
---

<div class="page-blog">
    <header class="header--single">
        <div class="wrap">
            <h1 class="header__title">Videos</h1>
            <p class="header__subtitle subtitle--light">Find out what I've been up through my latest photo blogging adventures.</p>
        </div>
    </header>

    <section class="all-posts">
        <div class="wrap">
            <div class="posts__list grid">
                {% for video in site.videos %}
                {% if forloop.first == true %}
                <article class="post post-new">
                    <div class="grid">
                        {% include post-components/video-thumb.html %}
                        <a href="{{ video.id }}">
                            <div class="post__image{% if paginator.page == 1 %} post__image--new{% endif %}"
                                 style="background-image: url({{ post.featured_image }})">
                            </div>
                        </a>

                        <div class="post__content-wrap">
                            <div class="post__content">
                                <time class="post__date label--small">{{ video.date | date: "%B %d, %Y" }}</time>
                                <h2 class="post__title h4"><a href="{{ video.video-id}}">{{ video.title }}</a></h2>
                                <p class="post__subtitle">{{ video.subtitle }}</p>
                                <p class="post__description">{{ video.description }}</p>
                                <a href="{{ post.url }}" class="post__link button--text--accent --right">Keep Reading</a>
                            </div>
                        </div>
                    </div>
                </article>
                {% else %}
                {% include post-components/video-thumb.html %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% if paginator.total_pages > 1 %}

    <section class="pagination">
        <div class="wrap">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
               class="button--text--accent --left pagination__prev">Newer Posts</a>
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"
               class="button--text--accent --right pagination__next">Older Posts</a>
            {% endif %}
        </div>
    </section>

    {% endif %}
</div>